<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p><i class="fa fa-github"></i> <a href="https://github.com/lasoftwarecraftsmanship/lasoftwarecraftsmanship.github.io">Fork me on Github</a></p>
        <p>
          <small>Icons are thanks to: <a href="http://fontawesome.io" target="_blank"><i class="fa fa-flag"></i> Font Awesome by Dave Gandy</a></small>
        </p>
        <p>
          LA loves you. <i class="fa fa-heart"></i><br/>
        </p>
      </div>
    </div>

  </div>
</footer>
